.country-container {
  position: relative;
  width: 100%;
  max-width: 550px;
  margin-bottom: 20px;
}

.country-select {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}


.country-dropdown {
  width: 100%;
  padding: 12px 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  font-size: 17px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.icon {
  position: absolute;
  pointer-events: none;
  color: #666;
  z-index: 10;
}

.search-icon {
  left: 10px;
  font-size: 18px;
}

.dropdown-icon {
  right: 10px;
  font-size: 18px;
}
