*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
  color: #222;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.app-container {
  width: 95vw;
  min-height: 100vh;
  max-width: 980px;
  padding: 20px 10px;
  border-radius: 12px;
}


.App h1 {
  color: black;
  margin-bottom: 30px;
  font-weight: 700;
}

.date-range-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.date{
  margin-bottom: 25px;
}

.date-range-container label {
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 1rem;
  color: #333;
}

.date-range{
  margin-bottom: 5px;
}

.date-range-container input[type="date"] {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1.8px solid #bbb;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
  cursor: pointer;
  min-width: 140px;
}

.date-range-container input[type="date"]:focus {
  border-color: #1976d2;
  box-shadow: 0 0 5px rgba(25, 118, 210, 0.5);
}


.chart-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
}

.chart-container > * {
  flex: 1;
  min-width: 280px;
  max-width: 700px;
}


@media (max-width: 768px) {
  .date-range-container {
    flex-direction: column;
    gap: 10px;
  }
  .chart-container {
    flex-direction: column;
    gap: 25px;
  }
}